<a href="https://colab.research.google.com/github/anthonyseromines/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#If Statement

a = 12
b= 12

if a<b:
 print("a is less than b")

In [16]:
#Elif Statement

if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")

In [17]:
if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print('a is equal to b')

a is equal to b

In [20]:
#Short Hand if Statement

c = 5
d = 10

if c>d: print("c>d")

In [21]:
#Short Hand If... Else Statement

print('c>d') if c>d else print('d>c')

d>c

In [24]:
#And Statment

if 5>10 and 8>4:
  print("Both statement are true")
else:
  print("one of the statements is false / both statements are not true")

one of the statements is false / both statements are not true

In [30]:
#Or Statement

if 5>10 or 4>8:
  print('True')
else:
  print('False')

False

In [31]:
#bitwise operator ^ (xor)

e = 4   #0100 in binary
f = 2   #0010 in binary

e^f

6

In [97]:
#Nested If Statement

x = 39
if x>10:
  print("Number is above 10")
  if x>20:
    print("Number is above 20")
    if x>30:
      print("Number is above 30")
      if x>40:
        print("Number is above 40")
        if x>50:
          print("Number is above 50")
      else:
        print("The number is less than 50")
    else: 
      print("Number is less than 40")

Number is above 10
Number is above 20
Number is above 30
The number is less than 50

In [104]:
#Application 1. Write a program that detemines if the input age is qualified to vote or not 
#The quailified age is 18 years old and above 

a = 17
if a<18:
  print("Not qualified to vote")
elif a>=18:
  print("Qualified to vote")

Not qualified to vote

In [105]:
age = input("Enter age:")
if int(age)<18:
  print("Not qualified to vote")
elif int(age)>=18:
  print("Qualified to vote")

Enter age:21
Qualified to vote

In [107]:
#Application 2. Write a program that determines if the input number is Positive, Negative, or Zero.

num = input("Enter number:")
if int(num)>0:
  print("The number is Positive")
elif int(num)<0:
  print("The number is Negative")
else:
  print("The number is zero")

Enter number:-9
The number is Negative

In [58]:
#for loop statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [65]:
week = ["Sunday","Monday","Tuesday","wednesday","Thursday","Friday","Saturday"]
for y in week:
  print(y)
  if y == "Thursday":
   break

Sunday
Monday
Tuesday
wednesday
Thursday

In [67]:
week = ["Sunday","Monday","Tuesday","wednesday","Thursday","Friday","Saturday"]
for y in week:
  if y == "Thursday":
   break
  print(y)

Sunday
Monday
Tuesday
wednesday

In [68]:
for x in "week":
  print(x)

w
e
e
k

In [69]:
#range () function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [76]:
for x in range (2,6+1,1):
  print(x)

2
3
4
5
6

In [79]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [89]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

In [90]:
i = 1
while i<=6:
  print(i) 
  if i==3:
    break
  i += 1

1
2
3

In [102]:
#Using while loop and break statement, the output is only 3.
i = 3
while i<=6:
  print(i) 
  if i==3:
    break
  i += 1

3